<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}The Auditory Almanac{% endblock %}

{% block content %}
    <div class="container">
        <h1>Welcome to the Auditory Almanac!</h1>
        <p>
            Do you wish Spotify Wrapped contained your listening data for the whole year and not just through November?
            Good news! It can!
        </p>
        <p>
            Step 1: <a href="https://support.spotify.com/us/article/contact-us/" target="_blank">Email spotify support</a> and ask for your extended streaming history.
        </p>
        <p>
            Step 2: Once they've sent it to you, come back here!
        </p>
        <p>
            Step 3: Upload all of your .json files below. They will be in a folder called MyData and will be called something like <i>Streaming_History_Audio_2018-2019_*.json</i>.
        </p>
        <p>
            Step 4: Click the process button to get going!
        </p>
        <h3>Upload .json files below</h3>
        <button onclick="location.href='{{ url_for('upload_files') }}'" type="button">Upload Files</button>
    </div>
{% endblock %}
