<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}The Auditory Almanac{% endblock %}

{% block content %}
    <div class="container">
        <h1>Welcome to the Auditory Almanac!</h1>
        <p>
            Do you wish Spotify Wrapped contained your listening data for the whole year and not just through November?
            Good news! It can!
        </p>
        <p>
            Step 1: Request Your Spotify Data
            <ol style="text-align: left;">
                <li>Log in to your Spotify account on the <a href="https://www.spotify.com/" target="_blank">Spotify website</a>.</li>
                <li>Go to your account page by clicking on your profile name in the top-right corner and selecting "Account" from the dropdown menu.</li>
                <li>In the left sidebar, click on "Privacy settings".</li>
                <li>Scroll down to the "Download your data" section and check the "Extended streaming history" box. Then check "Request data" at the bottom of the page.</li>
                <li>You'll receive an email when your data is ready to download. This process can take up to 30 days, but it's usually much quicker.</li>
                <li>Once you receive the email, download your data. It will be in a ZIP file.</li>
            </ol>
        </p>
        <p>
            Step 2: Once they've sent it to you, come back here!
        </p>
        <p>
            Step 3: Upload all of your .json files below. They will be in a folder called MyData and will be called something like <i>Streaming_History_Audio_2018-2019_*.json</i>.
        </p>
        <p>
            Step 4: Click the process button to get going!
        </p>
        <h3>Upload .json files below</h3>
        <button onclick="location.href='{{ url_for('upload_files') }}'" type="button">Upload Files</button>
    </div>
{% endblock %}
