<!-- templates/processing_files.html -->
{% extends "base.html" %}

{% block title %}Processed Files{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(category_filter=["files_processed"]) %}
        {% if messages %}
            <h1>Files have been processed. You can now view the results.</h1>
            <button onclick="location.href='{{ url_for('view_results') }}'" type="button">View Results</button>
        {% else %}
            <h1>Error processing files. Please try again.</h1>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}