<!-- templates/upload-files.html -->
{% extends "base.html" %}

{% block title %}The Auditory Almanac{% endblock %}

{% block content %}
<div class="container">
    <h1>Upload your files here</h1>
    <p>
        They will be in a folder called MyData and will be called something like <i>Streaming_History_Audio_2018-2019_0.json</i> or <i>StreamingHistory_music_0.json</i>.
    </p>
    <p>
        If you have multiple, select all of them.
    </p>
    <p>
        Some may be called <i>Streaming_History_Video_2017-2024.json</i>, but we just need the records for audio.
    </p>
    <p>
        You might have 2 different file types: music (something like <i>StreamingHistory_music_0.json</i>) and podcasts (something like <i>StreamingHistory_podcast_0.json</i>). Be sure to select both.
    </p>
    <p>
        If your .json files do not have the following fields, you will need to <a href="https://support.spotify.com/us/article/contact-us/" target="_blank">contact spotify support</a> and ask for your extended streaming history, not just your streaming history.
    </p>
    <button id="show-fields-button" onclick="toggleFields()" style="margin-bottom: 20px;">Show Required Fields</button>
    <div id="required-fields" style="display: none;">
        <p>
            The fields we need are:
        </p>
        <ul>
            <li>ts</li>
            <li>username</li>
            <li>platform</li>
            <li>ms_played</li>
            <li>conn_country</li>
            <li>master_metadata_track_name</li>
            <li>master_metadata_album_artist_name</li>
            <li>master_metadata_album_album_name</li>
            <li>episode_name</li>
            <li>episode_show_name</li>
            <li>spotify_track_uri</li>
            <li>reason_start</li>
            <li>reason_end</li>
            <li>shuffle</li>
            <li>skipped</li>
            <li>offline</li>
            <li>incognito_mode</li>
        </ul>
    </div>
    <script>
    function toggleFields() {
        var fields = document.getElementById("required-fields");
        var button = document.getElementById("show-fields-button");
        if (fields.style.display === "none") {
            fields.style.display = "block";
            button.textContent = "Hide Required Fields";
        } else {
            fields.style.display = "none";
            button.textContent = "Show Required Fields";
        }
    }
    </script>
    <form action="{{ url_for('upload_files') }}" method="post" enctype="multipart/form-data">
        <label for="file-upload" class="custom-file-upload">Choose Files</label>
        <input id="file-upload" type="file" name="files" accept=".json" multiple style="display: none;">
        <input type="submit" value="Upload" id="upload-button" style="display: none;">
    </form>
    <script>
    document.getElementById('file-upload').onchange = function() {
        this.form.submit();
    };
    </script>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% if 'success' in messages|map(attribute='0') %}
                <button id="process-files-button" onclick="startProcessing()" type="button">Process Files</button>
                <div id="processing-message" style="display: none; margin-top: 10px;">Files are processing, please wait...</div>
            {% endif %}
        {% endif %}
    {% endwith %}
</div>

<script>
function startProcessing() {
    document.getElementById('processing-message').style.display = 'block';
    window.location.href = "{{ url_for('process_files') }}";
}
</script>
{% endblock %}