<!-- templates/upload-files.html -->
{% extends "base.html" %}

{% block title %}The Auditory Almanac{% endblock %}

{% block content %}
<div class="container">
    <h1>Upload your files here</h1>
    <p>
        They will be in a folder called MyData and will be called something like <i>Streaming_History_Audio_2018-2019_0.json</i> or <i>StreamingHistory_music_0.json</i>.
    </p>
    <p>
        If you have multiple, select all of them.
    </p>
    <p>
        Some may be called <i>Streaming_History_Video_2017-2024.json</i>, but we just need the records for audio.
    </p>
    <p>
        You might have 2 different file types: music (something like <i>StreamingHistory_music_0.json</i>) and podcasts (something like <i>StreamingHistory_podcast_0.json</i>). Be sure to select both.
    </p>
    <form action="{{ url_for('upload_files') }}" method="post" enctype="multipart/form-data">
        <label for="file-upload" class="custom-file-upload">Choose Files</label>
        <input id="file-upload" type="file" name="files" accept=".json" multiple style="display: none;">
        <input type="submit" value="Upload" id="upload-button" style="display: none;">
    </form>
    <script>
    document.getElementById('file-upload').onchange = function() {
        this.form.submit();
    };
    </script>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% if 'success' in messages|map(attribute='0') %}
                <button id="process-files-button" onclick="startProcessing()" type="button">Process Files</button>
                <div id="processing-message" style="display: none; margin-top: 10px;">Files are processing, please wait...</div>
            {% endif %}
        {% endif %}
    {% endwith %}
</div>

<script>
function startProcessing() {
    document.getElementById('processing-message').style.display = 'block';
    window.location.href = "{{ url_for('process_files') }}";
}
</script>
{% endblock %}